<!doctype html>
<html class="bg-slate-900">
  <head>
    <title>{% block title %}{% endblock %} - Mi Espacio </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="max-w-lg mx-auto rounded-md">
    <nav class="rounded-t-md prose">
      <div class="logotipo">
          <a class="logotipo" href="{{ url_for('auth.login') }}">
            <img src="../static/imagenes/th.jfif" alt="logotipo">
        </a>
    </div>
      <ul class="m-0">
        {% if g.user %}
          <li><span><h2>{{ g.user['username'] }}</h2></span>
          <li class="logotipo"><a class="logotipo" href="{{ url_for('auth.logout') }}">
            <img src="../static/imagenes/OIP (1).jfif" alt="logotipo2" class="logotipo2">
          </a>
        {% else %}
          <li><a class="btn btn-primary" href="{{ url_for('auth.register') }}">Registro</a>
          <li><a class="btn btn-primary" href="{{ url_for('auth.login') }}">Inicio sesion</a>
          <li><a class="btn btn-primary" href="{{ url_for('auth.forgot') }}">Olvidaste Tu Contraseña?</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header class="mb-2 flex justify-between">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash rounded-md bg-indigo-300 border-indigo-600 text-indigo-800">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>